body,
html {
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url("original.jpg") no-repeat center center fixed;
  background-size: cover;
}
.container-fluid{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
}
#title {
	text-align: center;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding-top: 30rem;
}
.test {
	position: relative;
	left: 40%;
	bottom: 0;
	background-color: rgba(255, 158, 2, 0.9);
	color: white;
}